@import "tailwindcss";

@theme {
  --font-montserrat: "Montserrat", sans-serif;
}

@custom-variant dark (&:where(.dark, .dark *));

button {
  cursor: pointer;
  outline: none;
}

.btn {
  border-radius: 9999px;
  padding: 5px 12px;
  font-weight: 500;
}
.btn-primary {
  background-image: linear-gradient(to right, #2563eb, #6366f1);
  color: #fff;
  transition-duration: 75ms;
}

::selection {
  background-color: #6365f1bf;
  color: #fff;
}

/* ---------- Related to swiper ---------- */

.swiper-button-next,
.swiper-button-prev {
  position: static !important;
  width: 1.3rem !important;
  height: 1.3rem !important;
  margin: 0 !important;
  color: inherit !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: none !important;
}

/* ---------- ---------- */

/* ---------- Related to animations ---------- */

@keyframes move-right {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(0%);
  }
}
.move-right {
  animation-name: move-right;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

/* ---------- ---------- */

/* -------- Related to scrollbar ---------- */

/* thin scrollbar, Chrome/Edge/Safari */
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
@media (min-width: 768px) {
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
}
html:not(.dark) ::-webkit-scrollbar-thumb {
  background-color: #c7c7c7;
  border-radius: 9999px;
}
html.dark ::-webkit-scrollbar-thumb {
  background-color: #6366f1;
  border-radius: 9999px;
}

html.dark ::-webkit-scrollbar-thumb:hover {
  background-color: #4144ea;
}

html:not(.dark) ::-webkit-scrollbar-thumb:hover {
  background-color: #a3a3a3;
}

/* ---------- ---------- */
